@import "./src/styles/index.module.scss";

.mainPageContainer {
    @include responsive-page;
}

.products {
    min-height: inherit;

    .product {
        @include dark-border(1px);

        .image {
            width: 200px;
            margin-right: 50px;

            @include md {
                margin-right: 0;
                width: 150px;
                margin-bottom: 20px;
            }
        }
        
        .description {
           font-size: 20px;
           font-weight: 300;
           line-height: 33px;

           
           @include md {
            font-size: 16px;
            line-height: 26px;
        }
        }

        .btn {
            @include primary-btn;
        }
    }
}

