@import "./src/styles/index.module.scss";

.product {
    @include dark-border(1px);
    background-color: #fff;
    margin: 20px;
    width: 280px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;

    @include xxl {
        width: 320px;
    }

    @include xl {
        width: 270px;
        height: 500px;
    }

    @include lg {
        width: 300px;
        padding: 15px;
    }

    @include md {
        width: 100%;
        height: max-content;
        padding: 15px;
        margin: 20px 0;
    }

    .title {
        font-size: 20px;
        height: 75px;
        overflow: hidden;

        &:hover {
            color: rgb(39, 168, 219);
        }

        @include lg {
            height: 60px;
        }

        @include md {
            font-size: 18px;
            height: unset;
            margin-bottom: 10px;
        }
    }

    .image {
        width: 100%;
        height: 250px;
        margin: 30px 0;

        @include xl {
            height: 100px;
            width: 60%;
            margin: 15px auto;
        }

        @include lg {
            height: 150px;
        }

        @include md {
            height: 280px;
        }

        @include sm {
            width: 100px;
            height: 130px;
        }
    }

    .description {
        max-height: 145px;
        overflow: hidden;
        margin: 20px 0;

        @include xl {
            max-height: 125px;
        }

        @include lg {
            margin: 10px 0;
        }
    }

    .bottomProduct {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
            color: $dark-color;
            font-weight: 500;
            font-size: 18px;

            @include xl {
                font-size: 16px;
            }
        }

        .primary_btn {
            @include primary-btn;

            @include xl {
                transform: scale(0.9)
            }
        }
    }
}